.HomePageContainer {
  background: #f8f9fa;
}

.Popup {
  background-color: var(--accent-500);
  display: flex;
  align-items: center;
  justify-content: cneter;
  height: 2.75rem;
}

.PopupText {
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  margin-left: auto;
}

.PopupText span {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.PopupXContainer {
  margin-left: auto;
  margin-right: 2rem;
  cursor: pointer;
}

.PopupX {
  background-color: white;
  height: 1.5rem;
  width: 0.188rem;
  border-radius: 10px;
  transform: rotate(45deg);
}

.PopupX::after {
  transform: rotate(-90deg);
  position: absolute;
  content: "";
  background-color: white;
  height: 1.5rem;
  border-radius: 10px;
  width: 0.188rem;
}
